<a href="https://colab.research.google.com/github/renannevesr/Trader/blob/main/Acoes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas_datareader.data as web
import pandas as pd
import matplotlib.pyplot as plt
!pip install yfinance
import yfinance as yf
!pip install --upgrade xlrd

Collecting yfinance
  Downloading yfinance-0.1.70-py2.py3-none-any.whl (26 kB)
Collecting requests>=2.26
  Downloading requests-2.27.1-py2.py3-none-any.whl (63 kB)
     |████████████████████████████████| 63 kB 1.4 MB/s
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.3.5)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.21.5)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.10)
Collecting lxml>=4.5.1
  Downloading lxml-4.8.0-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.manylinux_2_24_x86_64.whl (6.4 MB)
     |████████████████████████████████| 6.4 MB 11.8 MB/s
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24.0->yfinance) (1.15.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2021.10.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (1.24.3)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.0.12)
Installing collected packages: requests, lxml, yfinance
  Attempting uninstall: requests
    Found existing installation: requests 2.23.0
    Uninstalling requests-2.23.0:
      Successfully uninstalled requests-2.23.0
  Attempting uninstall: lxml
    Found existing installation: lxml 4.2.6
    Uninstalling lxml-4.2.6:
      Successfully uninstalled lxml-4.2.6
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
google-colab 1.0.0 requires requests~=2.23.0, but you have requests 2.27.1 which is incompatible.
datascience 0.10.6 requires folium==0.2.1, but you have folium 0.8.3 which is incompatible.
Successfully installed lxml-4.8.0 requests-2.27.1 yfinance-0.1.70

Requirement already satisfied: xlrd in /usr/local/lib/python3.7/dist-packages (1.1.0)
Collecting xlrd
  Downloading xlrd-2.0.1-py2.py3-none-any.whl (96 kB)
     |████████████████████████████████| 96 kB 3.0 MB/s
Installing collected packages: xlrd
  Attempting uninstall: xlrd
    Found existing installation: xlrd 1.1.0
    Uninstalling xlrd-1.1.0:
      Successfully uninstalled xlrd-1.1.0
Successfully installed xlrd-2.0.1

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
empresas =pd.read_excel("/content/drive/MyDrive/Python/acoes/empresas.xlsx")
empresas

  Empresas
0    BBAS3
1    BBDC4
2   BIDI11
3    CASH3
4    CIEL3
5    MGLU3
6    ITSA4
7    PETR4
8    SEER3
9    SHOW3

In [5]:
df = []
df = pd.DataFrame(df)
cota_final = []
cota_final = pd.DataFrame(df)
df_emp = [(('Empresa'))]
df_emp = pd.DataFrame(df_emp, columns=['Empresa'])

In [6]:
for empresa in empresas['Empresas']:
    try:
        cotacoes = yf.download(f'{empresa}.SA',start="2013-01-01", end="2022-03-30")
        df = df.append(cotacoes)
        df['Data'] = df.index
        print(df.shape)
        balanco = pd.read_excel(f'/content/drive/MyDrive/Python/acoes/{empresa}.xls')
        datas = balanco.loc[0]
        datas = pd.DataFrame(datas)

        datas.columns = ['Data']
        datas['Data'] = pd.to_datetime(datas['Data'])
        df['Data'] = pd.to_datetime(df['Data'])
        cota = pd.concat([df, datas]).sort_values(by='Data').drop_duplicates()
        nova_cota = cota.assign(Nome=empresa)
        cota_final = cota_final.append(nova_cota)
    except:
        print(f"Não foi possível localizar os dados da {empresa}")

[*********************100%***********************]  1 of 1 completed
(2294, 7)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
[*********************100%***********************]  1 of 1 completed
(4589, 7)
WARNING *** file size (67762) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
[*********************100%***********************]  1 of 1 completed
(5196, 7)
WARNING *** file size (31789) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
[*********************100%***********************]  1 of 1 completed
(5538, 7)
WARNING *** file size (18199) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
[*********************100%***********************]  1 of 1 completed
(7832, 7)
WARNING *** file size (63974) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
[*********************100%***********************]  1 of 1 completed
(10126, 7)
WARNING *** file size (64202) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
[*********************100%***********************]  1 of 1 completed
(12421, 7)
WARNING *** file size (64192) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
[*********************100%***********************]  1 of 1 completed
(14715, 7)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
[*********************100%***********************]  1 of 1 completed
(16803, 7)
WARNING *** file size (52804) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
[*********************100%***********************]  1 of 1 completed
(19097, 7)
WARNING *** file size (64204) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero

In [7]:
high = ['High']
cota_final = cota_final.drop(cota_final[cota_final['High'].isin(high)].index)

In [8]:
cota_final.shape

(98974, 8)

In [9]:
#inicio da limpeza dos dados
cota_final.reset_index(inplace=True, drop=False)
cota_final.isna().sum()

index          0
Open         386
High         386
Low          386
Close        386
Adj Close    386
Volume       386
Data          10
Nome           0
dtype: int64

In [13]:

data_erradas = cota_final[cota_final['Data'].isnull()].index.tolist()
cota_final[cota_final['Data'].isnull()].index.tolist()

[2336, 6968, 12182, 17729, 25604, 35773, 48237, 62995, 79833, 98973]

In [14]:
filtro = cota_final.Data.isnull()
cota_final.loc[filtro]

,index,Open,High,Low,Close,Adj Close,Volume,Data,Nome
2336,"XLSWrite 1.34 Copyright(c) 1999,2000 Axolot Data",NaN,NaN,NaN,NaN,NaN,NaN,NaT,BBAS3
6968,"XLSWrite 1.34 Copyright(c) 1999,2000 Axolot Data",NaN,NaN,NaN,NaN,NaN,NaN,NaT,BBDC4
12182,"XLSWrite 1.34 Copyright(c) 1999,2000 Axolot Data",NaN,NaN,NaN,NaN,NaN,NaN,NaT,BIDI11
17729,"XLSWrite 1.34 Copyright(c) 1999,2000 Axolot Data",NaN,NaN,NaN,NaN,NaN,NaN,NaT,CASH3
25604,"XLSWrite 1.34 Copyright(c) 1999,2000 Axolot Data",NaN,NaN,NaN,NaN,NaN,NaN,NaT,CIEL3
35773,"XLSWrite 1.34 Copyright(c) 1999,2000 Axolot Data",NaN,NaN,NaN,NaN,NaN,NaN,NaT,MGLU3
48237,"XLSWrite 1.34 Copyright(c) 1999,2000 Axolot Data",NaN,NaN,NaN,NaN,NaN,NaN,NaT,ITSA4
62995,"XLSWrite 1.34 Copyright(c) 1999,2000 Axolot Data",NaN,NaN,NaN,NaN,NaN,NaN,NaT,PETR4
79833,"XLSWrite 1.34 Copyright(c) 1999,2000 Axolot Data",NaN,NaN,NaN,NaN,NaN,NaN,NaT,SEER3
98973,"XLSWrite 1.34 Copyright(c) 1999,2000 Axolot Data",NaN,NaN,NaN,NaN,NaN,NaN,NaT,SHOW3

In [15]:
#excluindo as datas erradas
cota_final=cota_final.drop(cota_final.index[data_erradas])

In [19]:
filtro = cota_final.Data.isnull()
cota_final.loc[filtro]

Empty DataFrame
Columns: [index, Open, High, Low, Close, Adj Close, Volume, Data, Nome]
Index: []

In [18]:
filtro = cota_final.Volume.isnull()
cota_final.loc[filtro]

,index,Open,High,Low,Close,Adj Close,Volume,Data,Nome
0,Unnamed: 42,NaN,NaN,NaN,NaN,NaN,NaN,2011-09-30,BBAS3
1,Unnamed: 41,NaN,NaN,NaN,NaN,NaN,NaN,2011-12-31,BBAS3
2,Unnamed: 40,NaN,NaN,NaN,NaN,NaN,NaN,2012-03-31,BBAS3
3,Unnamed: 39,NaN,NaN,NaN,NaN,NaN,NaN,2012-06-30,BBAS3
4,Unnamed: 38,NaN,NaN,NaN,NaN,NaN,NaN,2012-09-30,BBAS3
...,...,...,...,...,...,...,...,...,...
96760,2021-05-02 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,2021-05-02,SHOW3
97180,Unnamed: 2,NaN,NaN,NaN,NaN,NaN,NaN,2021-06-30,SHOW3
97813,Balanço Patrimonial - TIME FOR FUN,NaN,NaN,NaN,NaN,NaN,NaN,2021-09-30,SHOW3
98789,2022-03-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,2022-03-01,SHOW3
98857,2022-03-11 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,2022-03-11,SHOW3