<a href="https://colab.research.google.com/github/renannevesr/Trader/blob/main/Acoes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
import pandas_datareader.data as web
import pandas as pd
import matplotlib.pyplot as plt
!pip install yfinance
import yfinance as yf
!pip install --upgrade xlrd

Requirement already satisfied: yfinance in /usr/local/lib/python3.7/dist-packages (0.1.70)
Requirement already satisfied: requests>=2.26 in /usr/local/lib/python3.7/dist-packages (from yfinance) (2.27.1)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.21.5)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.10)
Requirement already satisfied: lxml>=4.5.1 in /usr/local/lib/python3.7/dist-packages (from yfinance) (4.8.0)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.3.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24.0->yfinance) (1.15.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2021.10.8)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.10)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.0.12)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (1.24.3)
Requirement already satisfied: xlrd in /usr/local/lib/python3.7/dist-packages (2.0.1)

In [9]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [10]:
empresas =pd.read_excel("/content/drive/MyDrive/Python/acoes/empresas.xlsx")
empresas

  Empresas
0    BBAS3
1    BBDC4
2   BIDI11
3    CASH3
4    CIEL3
5    MGLU3
6    ITSA4
7    PETR4
8    SEER3
9    SHOW3

In [11]:
df = []
df = pd.DataFrame(df)
cota_final = []
cota_final = pd.DataFrame(df)
df_emp = [(('Empresa'))]
df_emp = pd.DataFrame(df_emp, columns=['Empresa'])

In [13]:
for empresa in empresas['Empresas']:
    try:
        cotacoes = yf.download(f'{empresa}.SA',start="2013-01-01", end="2022-03-30")
        df = df.append(cotacoes)
        df['Data'] = df.index
        balanco = pd.read_excel(f'/content/drive/MyDrive/Python/acoes/{empresa}.xls')
        datas = balanco.loc[0]
        datas = pd.DataFrame(datas)
        datas.columns = ['Data']
        datas['Data'] = pd.to_datetime(datas['Data'])
        df['Data'] = pd.to_datetime(df['Data'])
        cota = pd.concat([df, datas]).sort_values(by='Data').drop_duplicates()
        nova_cota = cota.assign(Nome=empresa)
        cota_final = cota_final.append(nova_cota)
    except:
        print(f"Não foi possível localizar os dados da {empresa}")

[*********************100%***********************]  1 of 1 completed
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
[*********************100%***********************]  1 of 1 completed
WARNING *** file size (67762) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
[*********************100%***********************]  1 of 1 completed
WARNING *** file size (31789) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
[*********************100%***********************]  1 of 1 completed
WARNING *** file size (18199) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
[*********************100%***********************]  1 of 1 completed
WARNING *** file size (63974) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
[*********************100%***********************]  1 of 1 completed
WARNING *** file size (64202) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
[*********************100%***********************]  1 of 1 completed
WARNING *** file size (64192) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
[*********************100%***********************]  1 of 1 completed
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
[*********************100%***********************]  1 of 1 completed
WARNING *** file size (52804) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
[*********************100%***********************]  1 of 1 completed
WARNING *** file size (64204) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero

In [14]:
high = ['High']
cota_final = cota_final.drop(cota_final[cota_final['High'].isin(high)].index)

In [20]:
cota_final.shape

(357411, 8)